body{
<<<<<<< HEAD
    background: white;
}

.card-title {
    color: blue
}
=======
    background: #BDBDBD;
}

.text1{
    font-size: 5.5rem;
    text-align: center;
    width: 97%;
    position: absolute;
    top: 200px;
    left: 25px;
    background-color: white;
}

.text2{
    font-size: 3.5rem;
    text-align: center;
    width: 97%;
    position: absolute;
    top: 350px;
    left: 25px;
    background-color: white;  
}

>>>>>>> 24a555a4a9b3d6a2b92921bf5a5b6b2b2c38a370
