<!-- your html code here -->
<div class="container-fluid">
    <div class="col-12">
        <h3>Contact</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea commodi minus, dignissimos, delectus natus optio dolore sunt sint voluptate beatae, earum temporibus iste vero veritatis corporis fugit et officia cumque!</p>
    </div>
    <form class="bg-light p-3 rounded" style="width: 700px; margin: 0 auto;">
        <div class="d-flex mb-3">
            <label for="exampleFormControlInput1" class="form-label mx-3 px-2">Your E-mail</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your E-mail">
        </div>
        <div class="d-flex mb-3">
            <label for="exampleFormControlTextarea1" class="form-label mx-3">Your Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter your message here..."></textarea>
        </div> 
        
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary ">Submit</button>
        </div>
    </form>
</div>