<div class="container">
  <h3>Portfolio</h3>
  <p>Adipisicing sit reiciendis minus mollitia veniam illum. Accusamus dolorum 
    animi sit porro non dignissimos? Quod molestiae incidunt tempora blanditiis 
    repellendus Officiis quos id temporibus inventore odit! Odit aliquid
  </p>
			<div class="row row-cols-1 row-cols-md-3 g-4">
				<div class="col">
					<div class="card h-100">
						<img
							src="https://via.placeholder.com/700x400.png"
							class="card-img-top"
							alt="..."
						/>
						<div class="card-body">
							<h5 class="card-title">Project Name</h5>
							<p class="card-text">
								This is a wider card with supporting text below
								as a natural lead-in to additional content. This
								content is a little bit longer.
							</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card h-100">
						<img
							src="https://via.placeholder.com/700x400.png"
							class="card-img-top"
							alt="..."
						/>
						<div class="card-body">
							<h5 class="card-title">Project Name</h5>
							<p class="card-text">
								This card has supporting text below as a natural
								lead-in to additional content.
							</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card h-100">
						<img
							src="https://via.placeholder.com/700x400.png"
							class="card-img-top"
							alt="..."
						/>
						<div class="card-body">
							<h5 class="card-title">Project Name</h5>
							<p class="card-text">
								This is a wider card with supporting text below
								as a natural lead-in to additional content. This
								card has even longer content than the first to
								show that equal height action.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
