<!-- your html code here -->
<div class="container second-heading-container">
  <hr />
  <div class="d-flex flex-row">
    <img class="imgSecondHeader" src="assets/img/2.jpg" alt="">
    <div class="second-heading">
      <h3><strong>The First Heading</strong> Will Catch Your Eye.</h3>
      <p>Elit magni cumque voluptatibus asperiores id Doloribus veniam porro quae 
        aliquid voluptatum Pariatur repudiandae incidunt iste quia pariatur! 
        Voluptatem aperiam
      </p>
    </div>
  </div>
</div>
